/*CSS desordenado. proximamente ordenado*/
/* NAV */
#mainNav {
    padding-top: 16px;
    padding-bottom: 5px;
    height: 125px;
    border: none;
    background-color: rgb(255, 0, 0);  
}

#mainNav .navbar-brand img {
    height: 4.5rem;
    width: 13rem;
}

nav{
    padding-bottom: 5px;
    padding-top: 16px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    padding-left: 37px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
}

.nav-link:hover {
    color: rgb(255 255 255) !important;
}

.position {
    position: absolute;
    left: 75rem;
    display: flex;
}

.bordes {
    border-radius: 0.25rem;
}

.acostado{
    display: flex;
    flex-wrap: nowrap;
}

.parrafo-nav {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 41px;
    font-family: 'Dancing Script', cursive;
}
 
.zero{
    padding:0;
    margin:0;
}

.centrar-links {
    margin-left: 11rem;
}

.container-1 {
  position: absolute;
  padding-left: 600px; 

}

/* espacio entre secciones */
.page-section {
    padding: 4rem 0
}

.page-section-carrito{
    padding: 10rem 0;
}

/* carousel */
.carousel-slider{
    margin-right: auto;
    margin-left: auto;
    margin-top: 82px;
    width: 78rem;
}

.carousel-control-next,
.carousel-control-prev {
    color: #000000 !important;
}

/* Destacados */


.producto_link {
    color: #000000;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.producto_link:hover{
    color: black;
    text-decoration: none;
}

.centrar {
    padding-right: 14px;
    font-size: 24px;
    display: flex;
    justify-content: center;
}
p

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    padding: 8px!important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.centrar-btn{
    margin-top: 5px;
}

/* Swiper Destacados */

.swiperDestacados__contenedor{
    position: relative;
}

.spaceDestacados {
    height: auto;
    width: 265.5px;
    background-color: rgb(138, 138, 138);
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.swiperDestacados__anterior,
.swiperDestacados__siguiente{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    border-radius: 1.25rem;
    background: #00000075;
    color: rgb(0, 0, 0);/*  */
}

.swiperDestacados__anterior{
    left: -34px;
}

.swiperDestacados__siguiente {
    right: -22px;
}

.glider-dots {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 23px auto;
    padding-right: 19px;
}

/* Swiper Ofertas */

.swiperOfertas__contenedor{
    position: relative;
}


.spaceOfertas {
    height: auto;
    width: 295.5px;
    padding-left: 1rem;
}


.swiperOfertas__anterior,
.swiperOfertas__siguiente{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    border-radius: 1.25rem;
    background: #00000075;
    color: rgb(0, 0, 0);/*  */
}

.swiperOfertas__anterior {
    left: -25px;
}

.swiperOfertas__siguiente{
    right: -30px;
}

.width-p {
    margin: 0 !important;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 1rem;
}

/* Mas Especificos */
.distanciado{
    margin-left: 104px;
    margin-top: 100px;
    width:78rem;
}

.row-especial {
    display: flex;
    padding-right: 150px;
    padding-left: 150px;
    justify-content: center;
    text-align: center
}

.center-buttons {
    position: absolute;
    padding-left: 227px;
}

.margin {
    margin-right: 420px;
}


.row-imagenes {
    display: flex;
    margin-right: -0.75rem;
    margin-left: 1.5rem;
    display: inline-block;
}

/* Animacion "mas especificos" */
figure {
    height: 364px;
    overflow: hidden;
}

img.zoom {
    width: 501px;
    height: 368px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.3); 
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

/* Mapa */
.maps-center{
    width: 993px;
    padding-left: 65px;
}

#Ubicacion {
    background-color: #900202;
}

.change-color{
    color: #ffffff;
}

/* Footer */
.list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding-left: 246px;
}

.padding-left1 {
    margin-left: 78px;
    margin-right: 0;
}

.padding-left2 {
    margin-left: 120px;
    margin-right: -302px;
}
.row-footer {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}


h2{
    padding-bottom: 10px;
    font-style: italic;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* iconos */
svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-10 {
    width: .625em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

.size{
    height: 2.4rem;
}

svg {
    vertical-align: middle;
}


element.style {
    opacity: 1;
    display: block;
}

.rounded {
    border-radius: 0.25rem !important;
}


/*Responsive*/
@media(max-width:1440px){
    .noDesbordar{
        max-width: 1000px;
    } 

    /* Nav */
    .centrar-links {
        margin-left: 3rem;
    }

    .position {
        position: absolute;
        left: 65rem;
        display: flex;
    }

    /* Carousel */
    .carousel-slider {
        margin-right: auto;
        margin-left: 14px;
        margin-top: 82px;
        width: 78rem;
    }

    /* Destacados y Ofertas */
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: 11rem !important;
    }

    /* Especificos */
    .alinear_img {
        position: absolute;
        margin-left: 1rem ;
    }

    .distanciado {
        margin-left: -5px !important;
        margin-top: 100px;
        width: 78rem;
    }

    /* Encontranos */
    .maps-center {
        width: 993px;
        padding-left: 56px;
    }

    /* Footer */
    .list {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding-left: 91px;
        position: absolute;
        bottom: -14px;
        left: 44px;
    }
}

@media(max-width:1024px){
    .noDesbordar{
        max-width: 1000px;
    } 
    
    /* Carousel */
    .carousel-slider {
        margin-right: auto;
        margin-left: 9px;
        margin-top: 82px;
        width: 78rem;
    }

    /* Destacados y Ofertas */
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: 11rem !important;
    }

    /* Destacados y Ofertas */
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: 16rem !important;
    }

    .swiperDestacados__anterior, .swiperDestacados__siguiente {
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        top: calc(44% - 35px);
        cursor: pointer;
        line-height: 30px;
        text-align: center;
        border-radius: 1.25rem;
        background: #00000075;
        color: rgb(0, 0, 0);
    }

    .swiperDestacados__siguiente {
        right: -48px !important;
        
    }

    .swiperOfertas__anterior {
        left: -37px;
    }

    /* Especificos */
    .margin {
        margin-right: 278px;
    }

    .distanciado {
        margin-left: -12px !important;
        margin-top: 100px;
        width: 78rem;
    }

    /* Encuentranos */
    .texto-resposive{
        margin-left: 11rem;
    }

    .container-responsive{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: 11rem !important;
    }
    
    /* Footer */
    .row-footer{
        width: 1589px;
    }
}


/* Pagina Carrito */

/* Fondo contenedor */
.resaltarCuadro{
    background-color: #979797;
    border-radius:0.25rem;
}

/* Agregar */
#mainNav .navbar-extoggler {
    position: absolute;
    padding: 0.75rem;
    left: 60rem;
    top: 2,1rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.75rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #fed136;
    border: 0;
}

.navbar-extoggler {
    line-height: 1;
    border-radius: 0.25rem;
}

.container-b {
    display: flex;
    padding-top: 26px;
    margin-bottom: -21px;
}

.alinear{
    position: absolute;
    left: 63rem;
    background-color: #e70a0a; 
    color: white;   
    border-radius: 0.25rem;
}

#Agregar{
    display: flex;
    
}

.spaceDestacadosCarrito{
    padding-left: 1rem;
}

.colocar {
    margin-left: -52px;
    margin-bottom: 177px;
}
